{% extends 'layout.html' %}
{% load home_tags %}
{% block title %}用户{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/user.css"/>
    <link href="{{ STATIC_URL }}Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet">
{% endblock %}
{% block js %}
{% endblock %}

{% block content %}
<div class="content-wrap user-list user-list-main clearfix">
    {% for user in object_list %}
    <div class="col-sm-3">
        <div class="user-item">
            <a href="{% url "account:detail" user.username %}"><img class="img-body" src="{{ MEDIA_URL }}{{ user.avatar }}" alt=""></a>

            <div class="name">
                <strong><a href="{% url "account:detail" user.username %}">{{ user.username }}</a></strong>
                <p>{{ user.signature|default:'' }}</p>
            </div>
            <div class="margin-bottom-10"></div>
            <div class="row margin-bottom-10">
{#                <span class="col-xs-6"><i class="fa fa-question"></i> 发问:{{ user.question_set.count }}&nbsp;&nbsp;</span>#}
                <span class="col-xs-6"><i class="fa fa-file-word-o"></i>文章:{{ user.article_set.count }}</span>
            </div>

            <hr>
            <ul class="list-inline share-list">
                <li>{% focus user %}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}