{% extends 'layout.html' %}
{% load home_tags %}
{% block title %}版块{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/user.css"/>

{% endblock %}
{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".panel-heading").click(function () {
                $(this).parent().find(".panel-body").slideToggle("fast");
            });
    })
    </script>

{% endblock %}

{% block content %}

<div class="content-wrap user-list clearfix">
    {% for forum in object_list %}
            <div class="panel panel-primary">
               <div class="panel-heading">
                       <h3 class="panel-title">{{ forum.name }}</h3>
               </div>
                   <div class="panel-body">
                      {{ forum.name }}
                   </div>
            </div>
    {% endfor %}
</div>

{% endblock %}