{% extends 'layout.html' %}
{% load home_tags %}
{% block title %}版块{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/district.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}Flat-UI-master/dist/css/flat-ui.css">

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/district_home.js"></script>
{% endblock %}

{% block content %}

<div class="content-wrap district-list clearfix">

    {% for district in districts %}
            <div class="district-item">
               <div class="panel-heading">
                   <h3 class="panel-title">{{ district.name }}</h3>
               </div>

                <div class="panel-body">
                    <div class="content-wrap  clearfix">

                        {% for forum in forums %}

                            {% if forum.district == district %}
                                <div class="col-sm-3">
                                    <div class="district-item">
                                        <table>
                                            <tr>
                                            <td width="60px"><a href="{% url "article:list" %}?forum={{ forum.id }}"><img class="img-body" src="{{ MEDIA_URL }}{{ forum.icon }}" alt=""></a></td>
                                            <td>
                                                <div><a href="{% url "article:list" %}?forum={{ forum.id }}">{{ forum.name }}</a></div>
                                                <div><i class="fa fa-file-word-o"></i> 文章: {{ forum.article_set.count }}</div>
                                            </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                </div>

            </div>
    {% endfor %}

</div>


{% endblock %}