

.district-list{

}


.district-item{
    padding: 10px;
    background: #fff;
    margin: 10px 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.panel-heading{
  height: 10px;
}



.panel-body{

}














