{% extends 'layout.html' %}
{% load home_tags %}
{% load pagination_tags %}
{% block title %}用户{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/user.css"/>
{#    <link href="{{ STATIC_URL }}Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet">#}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/account.js"></script>
{% endblock %}

{% block content %}

    <div class="content-wrap user-list user-list-main clearfix">
        <div>
        {% if request.user.username == 'root' %}
            {% if request.GET.edit == 'false' or not request.GET.edit %}<a class="btn btn-primary" href="?edit=true"><span class="fui-gear">编辑</span></a>{% endif %}
            {% if request.GET.edit == 'true' %}<a class="btn btn-primary" href="?edit=false"><span class="fui-gear">返回</span></a>{% endif %}
        {% endif %}
        </div>
        {% autopaginate object_list 40 %}
        {% for user in object_list %}
        <div class="col-sm-3">
            <div class="user-item">
                <a href="{% url "account:detail" user.username %}"><img class="img-body" src="{{ MEDIA_URL }}{{ user.avatar }}" alt=""></a>
                <div class="name">
                    {% if request.GET.edit == 'true' %}<span style="float:right;margin-right:16px;"><a class="btn" cmd="delUser" user_name="{{ user.username }}" user_id="{{ user.id }}"><span class="fui-cross-circle"></span></a></span>{% endif %}
                    <span><strong><a href="{% url "account:detail" user.username %}">{{ user.username }}</a></strong></span>
                    <br>
                    <span><i class="fa fa-file-word-o"></i>文章:{{ user.article_set.count }}</span>
                </div>
                <br>
                <div class="margin-bottom-10"></div>
                <div class="row margin-bottom-10">
                    {% if user.signature %}<p>签名：{{ user.signature|default:'' }}</p>{% endif %}
                </div>

                <hr>
                <ul class="user_focus_count">
                    <span class="btn">{% focus user %}</span>
                </ul>
            </div>
        </div>
        {% endfor %}
        <div class="text-center">
            {% paginate %}
        </div>
    </div>

{% endblock %}